body {
    margin: 20px;
    font-family: Arial, sans-serif;
}

#controls {
    margin-bottom: 20px;
}

#gameArea {
    position: relative;
    width: 100%;
    height: calc(100vh - 120px);
}

.gameButton {
    width: 10em;
    height: 5em;
    position: absolute;
}